.favorites-wrapper{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.favorites-list{
	border: 4px solid black;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	&__container{
		display: flex;
		align-items: center;
	}
}

.favorites-item{
	flex-grow: 1;
	padding: 10px;
	display: flex;
	align-items: center;
	column-gap: 20px;
	border: 2px solid goldenrod;
	margin-right: 10px;
	&__image img{
		max-width: 100px;
	}
	&__name{
		flex-grow: 1;
	}
}

.favorites-star{
	cursor: pointer;
}

.favorites-empty{
	font-size: 18px;
}