.cart{
	margin: 20px 0;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.cart__products{
	display: flex;
	column-gap: 35px;
	row-gap: 25px;
	flex-wrap: wrap;
}

.cart__form{
	align-self: center;
	width: 364px;
}

.cart-empty{
	margin: 20px 0;
	font-size: 18px;
	text-align: center;
}