.product-table-view {
	display: flex;
	flex-direction: column;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 4px #C4C2B8;
	position: relative;

	&__name {
		font-size: 22px;
		text-align: center;
	}

	&__favorites {
		height: 40px;
		width: 40px;
		cursor: pointer;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__cart {
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.product-cards-view {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 4px #C4C2B8;
	position: relative;
	height: 200px;
	overflow: hidden;

	&__name {
		font-size: 22px;
		text-align: center;
		position: absolute;
		top: 0;
		right: 50%;
		transform: translateX(50%);
	}

	&__favorites {
		height: 40px;
		width: 40px;
		cursor: pointer;
		transition: transform .2s ease-in-out;
		margin: 0 50px;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__cart {
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
		transition: transform .2s ease-in-out;
		margin-right: 50px;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.product__price {
	font-size: 20px;
	text-align: center;
}

.product__img img {
	display: block;
	max-width: 364px;
	padding: 0 5px;
}

.product__action {
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
}

.product__cart-hidden {
	display: none;
}

.delete-from-cart {
	position: absolute;
	right: 8px;
	top: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 22px;
	color: black;
	transition: all 0.3s;

	&:hover {
		color: red;
	}
}

.cart-quantity {
	position: absolute;
	border: 2px solid red;
	border-radius: 50%;
	width: 30px;
	padding: 3px 5px;
	left: 8px;
	top: 5px;
	font-size: 18px;
	display: flex;
	justify-content: center;
}

.cart-product {
	box-shadow: 0px 0px 5px 4px #a0b9f8;
}

.favorite-product {
	box-shadow: 0px 0px 5px 4px #efdf8f;
}